.faqfaq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-section-title {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.faq-list {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon10 {
  width: 24px;
  height: 24px;
}
.faq-icon12 {
  width: 24px;
  height: 24px;
}
.faq-container13 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon14 {
  width: 24px;
  height: 24px;
}
.faq-icon16 {
  width: 24px;
  height: 24px;
}
.faq-container16 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon18 {
  width: 24px;
  height: 24px;
}
.faq-icon20 {
  width: 24px;
  height: 24px;
}
.faq-container19 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq-trigger4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon22 {
  width: 24px;
  height: 24px;
}
.faq-icon24 {
  width: 24px;
  height: 24px;
}
.faq-container22 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq-faq5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq-trigger5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icons-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-icon26 {
  width: 24px;
  height: 24px;
}
.faq-icon28 {
  width: 24px;
  height: 24px;
}
.faq-container25 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq-content2 {
  align-self: center;
}
.faq-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.faq-fragment10 {
  display: contents;
}
.faq-text19 {
  display: inline-block;
  text-align: center;
}
.faq-fragment11 {
  display: contents;
}
.faq-text20 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-fragment12 {
  display: contents;
}
.faq-text21 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-fragment13 {
  display: contents;
}
.faq-text22 {
  display: inline-block;
  text-align: center;
}
.faq-fragment14 {
  display: contents;
}
.faq-text23 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-fragment15 {
  display: contents;
}
.faq-text24 {
  display: inline-block;
  text-align: center;
}
.faq-fragment16 {
  display: contents;
}
.faq-text25 {
  display: inline-block;
  text-align: center;
}
.faq-fragment17 {
  display: contents;
}
.faq-text28 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-fragment18 {
  display: contents;
}
.faq-text29 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-fragment19 {
  display: contents;
}
.faq-text30 {
  display: inline-block;
}
@media(max-width: 991px) {
  .faq-container10 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .faq-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
