.footer-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 200px;
  object-fit: cover;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer-container {
  display: flex;
  align-items: flex-start;
}
.footer-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer-fragment1 {
  display: contents;
}
.footer-text14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
.footer-fragment2 {
  display: contents;
}
.footer-text15 {
  display: inline-block;
}
.footer-fragment3 {
  display: contents;
}
.footer-text16 {
  display: inline-block;
}
.footer-fragment4 {
  display: contents;
}
.footer-text17 {
  display: inline-block;
}
.footer-fragment5 {
  display: contents;
}
.footer-text18 {
  display: inline-block;
}
.footer-fragment6 {
  display: contents;
}
.footer-text19 {
  display: inline-block;
}
.footer-fragment7 {
  display: contents;
}
.footer-text20 {
  display: inline-block;
}
.footer-fragment8 {
  display: contents;
}
.footer-text21 {
  display: inline-block;
}
@media(max-width: 1600px) {
  .footer-text14 {
    color: var(--dl-color-theme-neutral-dark);
  }
}
@media(max-width: 767px) {
  .footer-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
