.proyectos-faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.proyectos-max-width {
  gap: var(--dl-space-space-threeunits);
  align-self: center;
  align-items: flex-start;
}
.proyectos-section-title {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.proyectos-content {
  align-self: stretch;
  align-items: flex-start;
}
.proyectos-list {
  flex: 1;
  width: 100%;
}
.proyectos-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.proyectos-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icon10 {
  width: 24px;
  height: 24px;
}
.proyectos-icon12 {
  width: 24px;
  height: 24px;
}
.proyectos-container12 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.proyectos-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.proyectos-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icon14 {
  width: 24px;
  height: 24px;
}
.proyectos-icon16 {
  width: 24px;
  height: 24px;
}
.proyectos-container15 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.proyectos-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.proyectos-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icon18 {
  width: 24px;
  height: 24px;
}
.proyectos-icon20 {
  width: 24px;
  height: 24px;
}
.proyectos-container18 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.proyectos-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.proyectos-trigger4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.proyectos-icon22 {
  width: 24px;
  height: 24px;
}
.proyectos-icon24 {
  width: 24px;
  height: 24px;
}
.proyectos-container21 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.proyectos-fragment1 {
  display: contents;
}
.proyectos-text36 {
  display: inline-block;
}
.proyectos-fragment2 {
  display: contents;
}
.proyectos-text37 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.proyectos-fragment3 {
  display: contents;
}
.proyectos-text38 {
  display: inline-block;
}
.proyectos-fragment4 {
  display: contents;
}
.proyectos-text39 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.proyectos-fragment5 {
  display: contents;
}
.proyectos-text40 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.proyectos-fragment6 {
  display: contents;
}
.proyectos-text41 {
  display: inline-block;
}
.proyectos-fragment7 {
  display: contents;
}
.proyectos-text42 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
@media(max-width: 991px) {
  .proyectos-max-width {
    flex-direction: column;
  }
  .proyectos-list {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .proyectos-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
