<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Tercer Espacio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/favicon-16x16.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./proyectos.css" rel="stylesheet" />
      <div class="proyectos-faq8 thq-section-padding">
        <div
          id="proyectos"
          class="proyectos-max-width thq-section-max-width thq-flex-row"
        >
          <div class="proyectos-section-title thq-flex-column">
            <div class="proyectos-content thq-flex-column">
              <h2>
                <fragment class="proyectos-fragment1">
                  <h2 class="proyectos-text36 thq-heading-2">Default value</h2>
                </fragment>
              </h2>
              <p>
                <fragment class="proyectos-fragment6"></fragment>
              </p>
              <p class="proyectos-text41 thq-body-large">Default value</p>

              <p></p>
            </div>
            <button class="thq-button-filled">
              <span>
                <fragment class="proyectos-fragment3">
                  <span class="proyectos-text38 thq-body-small">
                    Default value
                  </span>
                </fragment>
              </span>
            </button>
          </div>
          <div class="proyectos-list thq-flex-column">
            <div class="proyectos-faq1">
              <div class="proyectos-trigger1">
                <p>
                  <fragment class="proyectos-fragment4"></fragment>
                </p>
                <p class="proyectos-text39 thq-body-large">Default value</p>

                <p></p>
                <div class="proyectos-icons-container1">
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon10">
                      <path
                        d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon12">
                      <path
                        d="M316 658l-60-60 256-256 256 256-60 60-196-196z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="proyectos-container12">
                <span class="thq-body-small">
                  <span>
                    ¿Sabías que todos los trucos tienen detrás una explicación
                    divertida?&nbsp;En nuestro laboratorio de magia descubrirás
                    los secretos de la ciencia y los aplicarás para crear
                    increíbles ilusiones.
                  </span>
                  <br />
                  <span>Para descubridores de entre 7 y 12 años.</span>
                </span>
              </div>
            </div>
            <div class="proyectos-faq2">
              <div class="proyectos-trigger2">
                <p>
                  <fragment class="proyectos-fragment7"></fragment>
                </p>
                <p class="proyectos-text42 thq-body-large">Default value</p>

                <p></p>
                <div class="proyectos-icons-container2">
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon14">
                      <path
                        d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon16">
                      <path
                        d="M316 658l-60-60 256-256 256 256-60 60-196-196z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="proyectos-container15">
                <span class="thq-body-small">
                  <span>
                    Vamos a poner a prueba el ingenio construyendo un escape
                    room, juegos de mesa o simuladores.&nbsp;
                  </span>
                  <br />
                  <span>
                    Trabajaremos en equipo combinando la tecnología con el mundo
                    real. ¡Ideas y creatividad a tope!
                  </span>
                  <br />
                  <span>Grupo de inventores de 10 a 16 años.</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="proyectos-faq3">
              <div class="proyectos-trigger3">
                <p>
                  <fragment class="proyectos-fragment2"></fragment>
                </p>
                <p class="proyectos-text37 thq-body-large">Default value</p>

                <p></p>
                <div class="proyectos-icons-container3">
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon18">
                      <path
                        d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon20">
                      <path
                        d="M316 658l-60-60 256-256 256 256-60 60-196-196z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="proyectos-container18">
                <span class="thq-body-small">
                  <span>
                    Una historia emocionante, donde la verdad puede ser más
                    elusiva de lo que parece. ¡Te sorprenderá!
                  </span>
                  <br />
                  <span>
                    Eleva tus habilidades de investigación, persuasión, análisis
                    y debate siendo detective, abogado, juez, jurado...
                  </span>
                  <br />
                  <span>Para astutos jóvenes de entre 14 y 18 años.&nbsp;</span>
                </span>
              </div>
            </div>
            <div class="proyectos-faq4">
              <div class="proyectos-trigger4">
                <p>
                  <fragment class="proyectos-fragment5"></fragment>
                </p>
                <p class="proyectos-text40 thq-body-large">Default value</p>

                <p></p>
                <div class="proyectos-icons-container4">
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon22">
                      <path
                        d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <svg viewBox="0 0 1024 1024" class="proyectos-icon24">
                      <path
                        d="M316 658l-60-60 256-256 256 256-60 60-196-196z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="proyectos-container21">
                <span class="thq-body-small">
                  <span>
                    ¡Construyamos juntos una ciudad ideal! Reflexionar y
                    dialogar sobre economía, medio ambiente, sociedad, etc.
                    serenos y con respeto. Decisiones en entorno complejo y con
                    incertidumbre.
                  </span>
                  <br />
                  <span>
                    Además ejecutaremos el proyecto solidario que se decida
                    entre todos.
                  </span>
                  <br />
                  <span>Para comprometidos ciudadanos de 16 a 19 años.</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      async=""
      defer=""
      src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
